# gncxml Usage Examples

## Setup

In [1]:
import sys
import gncxml

try:
    book = gncxml.Book("mybook.gnucash")
except OSError as err:
    sys.exit(err)

## API Reference

In [2]:
help(gncxml.Book)

Help on class Book in module gncxml.book:

class Book(builtins.object)
 |  Book(gncfile)
 |
 |  Parse GnuCash XML data file and provide interface to read journal entries and master data tables.
 |
 |  Methods defined here:
 |
 |  __init__(self, gncfile)
 |      Parameters
 |      ----------
 |      gncfile : file name or file object (io.BufferedReader)
 |          GnuCash data file (XML format)
 |
 |  accounts(self)
 |      Return account entries as pandas.DataFrame.
 |
 |  commodities(self)
 |      Return commodity (aka currency) entries as pandas.DataFrame.
 |
 |  list_accounts(self)
 |      Return account entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_commodities(self)
 |      Return commodity (aka currency) entries as pandas.DataFrame (synonym for commodities()).
 |
 |  list_prices(self)
 |      Return commodity price entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_splits(self)
 |      Return split (aka line item) entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_transactions(self)
 |      Return transaction (aka header) entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  prices(self)
 |      Return commodity price entries as pandas.DataFrame.
 |
 |  splits(self)
 |      Return split (aka line item) entries as pandas.DataFrame.
 |
 |  transactions(self)
 |      Return transaction (aka header) entries as pandas.DataFrame.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Book.list_*()

Book.list_*() methods are the primary one-stop methods that return the entries as flat pandas.DataFrame objects after joining relevant internal tables.

In [3]:
book.list_accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 342 entries, ('guid', '64806997695ef7c53fc2e6eef90f6d2b') to ('guid', '611d01ac0eae447490efb74e30848f18')
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   path              341 non-null    object
 1   toplevel          341 non-null    object
 2   parent_path       331 non-null    object
 3   name              342 non-null    object
 4   type              342 non-null    object
 5   code              34 non-null     object
 6   description       333 non-null    object
 7   cmd_space         342 non-null    object
 8   cmd_id            341 non-null    object
 9   cmd_name          341 non-null    object
 10  cmd_xcode         58 non-null     object
 11  cmd_fraction      341 non-null    object
 12  cmd_exponent      341 non-null    float64
 13  cmd_quote_source  289 non-null    object
dtypes: float64(1), object(13)
memory usage: 49.4+ KB

In [4]:
book.list_commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 59 entries, ('CURRENCY', 'CNY') to ('template', 'template')
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          59 non-null     object
 1   xcode         49 non-null     object
 2   fraction      59 non-null     object
 3   exponent      59 non-null     float64
 4   quote_source  38 non-null     object
dtypes: float64(1), object(4)
memory usage: 5.2+ KB

In [5]:
book.list_prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6030 entries, 0 to 6029
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                6030 non-null   datetime64[ns, UTC]
 1   cmd_space           6030 non-null   object
 2   cmd_id              6030 non-null   object
 3   crncy_space         6030 non-null   object
 4   crncy_id            6030 non-null   object
 5   source              6030 non-null   object
 6   type                6030 non-null   object
 7   value               6030 non-null   object
 8   value_frac          6030 non-null   object
 9   cmd_name            6030 non-null   object
 10  cmd_xcode           5352 non-null   object
 11  cmd_fraction        6030 non-null   object
 12  cmd_exponent        6030 non-null   float64
 13  cmd_quote_source    4375 non-null   object
 14  crncy_name          6030 non-null   object
 15  crncy_xcode         0 non-null      object
 16  crncy_fraction      6030 non-null   object
 17  crncy_exponent      6030 non-null   float64
 18  crncy_quote_source  6030 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), object(16)
memory usage: 895.2+ KB

In [6]:
book.list_splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 75028 entries, ('guid', 'faf151dc359482b7a8c9a3b877da80ab') to ('guid', '3cbdbf9d3e5e4329a4eb58b2db5a0863')
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   action                  1658 non-null   object
 1   memo                    9275 non-null   object
 2   reconciled              75028 non-null  object
 3   value                   75028 non-null  object
 4   value_frac              75028 non-null  object
 5   quantity                75028 non-null  object
 6   quantity_frac           75028 non-null  object
 7   act_idtype              75028 non-null  object
 8   act_id                  75028 non-null  object
 9   trn_idtype              75028 non-null  object
 10  trn_id                  75028 non-null  object
 11  act_path                75028 non-null  object
 12  act_toplevel            75028 non-null  object
 13  act_parent_path         74975 non-null  object
 14  act_name                75028 non-null  object
 15  act_type                75028 non-null  object
 16  act_code                14049 non-null  object
 17  act_description         71369 non-null  object
 18  act_cmd_space           75028 non-null  object
 19  act_cmd_id              75028 non-null  object
 20  act_cmd_name            75028 non-null  object
 21  act_cmd_xcode           2292 non-null   object
 22  act_cmd_fraction        75028 non-null  object
 23  act_cmd_exponent        75028 non-null  float64
 24  act_cmd_quote_source    69680 non-null  object
 25  trn_date                75028 non-null  datetime64[ns]
 26  trn_num                 10241 non-null  object
 27  trn_description         75028 non-null  object
 28  trn_crncy_space         75028 non-null  object
 29  trn_crncy_id            75028 non-null  object
 30  trn_crncy_name          75028 non-null  object
 31  trn_crncy_xcode         0 non-null      object
 32  trn_crncy_fraction      75028 non-null  object
 33  trn_crncy_exponent      75028 non-null  float64
 34  trn_crncy_quote_source  70158 non-null  object
dtypes: datetime64[ns](1), float64(2), object(32)
memory usage: 23.0+ MB

In [7]:
book.list_transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34861 entries, ('guid', '9e4b4e15282c605759a1fa8ac971cfbc') to ('guid', '6d7d50d8ef8742b1b7e0bbce6ee22f85')
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                34861 non-null  datetime64[ns]
 1   num                 4893 non-null   object
 2   description         34861 non-null  object
 3   crncy_space         34861 non-null  object
 4   crncy_id            34861 non-null  object
 5   crncy_name          34861 non-null  object
 6   crncy_xcode         0 non-null      object
 7   crncy_fraction      34861 non-null  object
 8   crncy_exponent      34861 non-null  float64
 9   crncy_quote_source  32521 non-null  object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 4.1+ MB

## Other methods

Other methods return raw tables as pandas.DataFrame objects. Most of tables are indexed for convenience of join operations.

In [8]:
book.accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 342 entries, ('guid', '64806997695ef7c53fc2e6eef90f6d2b') to ('guid', '611d01ac0eae447490efb74e30848f18')
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   path         341 non-null    object
 1   toplevel     341 non-null    object
 2   parent_path  331 non-null    object
 3   name         342 non-null    object
 4   type         342 non-null    object
 5   code         34 non-null     object
 6   description  333 non-null    object
 7   cmd_space    342 non-null    object
 8   cmd_id       341 non-null    object
dtypes: object(9)
memory usage: 36.0+ KB

In [9]:
book.commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 59 entries, ('CURRENCY', 'CNY') to ('template', 'template')
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          59 non-null     object
 1   xcode         49 non-null     object
 2   fraction      59 non-null     object
 3   exponent      59 non-null     float64
 4   quote_source  38 non-null     object
dtypes: float64(1), object(4)
memory usage: 5.2+ KB

In [10]:
book.prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6030 entries, 0 to 6029
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         6030 non-null   datetime64[ns, UTC]
 1   cmd_space    6030 non-null   object
 2   cmd_id       6030 non-null   object
 3   crncy_space  6030 non-null   object
 4   crncy_id     6030 non-null   object
 5   source       6030 non-null   object
 6   type         6030 non-null   object
 7   value        6030 non-null   object
 8   value_frac   6030 non-null   object
dtypes: datetime64[ns, UTC](1), object(8)
memory usage: 424.1+ KB

In [11]:
book.splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 75028 entries, ('guid', 'faf151dc359482b7a8c9a3b877da80ab') to ('guid', '3cbdbf9d3e5e4329a4eb58b2db5a0863')
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   action         1658 non-null   object
 1   memo           9275 non-null   object
 2   reconciled     75028 non-null  object
 3   value          75028 non-null  object
 4   value_frac     75028 non-null  object
 5   quantity       75028 non-null  object
 6   quantity_frac  75028 non-null  object
 7   act_idtype     75028 non-null  object
 8   act_id         75028 non-null  object
 9   trn_idtype     75028 non-null  object
 10  trn_id         75028 non-null  object
dtypes: object(11)
memory usage: 9.2+ MB

In [12]:
book.transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 34861 entries, ('guid', '9e4b4e15282c605759a1fa8ac971cfbc') to ('guid', '6d7d50d8ef8742b1b7e0bbce6ee22f85')
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         34861 non-null  datetime64[ns]
 1   num          4893 non-null   object
 2   description  34861 non-null  object
 3   crncy_space  34861 non-null  object
 4   crncy_id     34861 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 2.8+ MB