# gncxml Usage Examples

## Setup

In [1]:
import sys
import gncxml

try:
    book = gncxml.Book("mybook.gnucash")
except OSError as err:
    sys.exit(err)

In [2]:
import pandas as pd
pd.options.display.memory_usage = False

## Book.list_*()

Book.list_*() methods are the primary one-stop methods that return the entries as flat pandas.DataFrame objects after joining relevant internal tables.

In [3]:
book.list_accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 210 entries, (guid, 64806997695ef7c53fc2e6eef90f6d2b) to (guid, 88891af9e7c7bca8689f70cf09825841)
Data columns (total 12 columns):
path                209 non-null object
toplevel            209 non-null object
type                210 non-null object
code                32 non-null object
description         203 non-null object
cmd_space           210 non-null object
cmd_id              209 non-null object
cmd_name            209 non-null object
cmd_xcode           28 non-null object
cmd_fraction        209 non-null object
cmd_exponent        209 non-null float64
cmd_quote_source    198 non-null object
dtypes: float64(1), object(11)

In [4]:
book.list_commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 41 entries, (ISO4217, JPY) to (template, template)
Data columns (total 5 columns):
name            41 non-null object
xcode           29 non-null object
fraction        41 non-null object
exponent        41 non-null float64
quote_source    29 non-null object
dtypes: float64(1), object(4)

In [5]:
book.list_prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 19 columns):
time                  2721 non-null datetime64[ns, pytz.FixedOffset(540)]
cmd_space             2721 non-null object
cmd_id                2721 non-null object
crncy_space           2721 non-null object
crncy_id              2721 non-null object
source                2721 non-null object
type                  2721 non-null object
value                 2721 non-null object
value_frac            2721 non-null object
cmd_name              2721 non-null object
cmd_xcode             2120 non-null object
cmd_fraction          2721 non-null object
cmd_exponent          2721 non-null float64
cmd_quote_source      2075 non-null object
crncy_name            2721 non-null object
crncy_xcode           0 non-null object
crncy_fraction        2721 non-null object
crncy_exponent        2721 non-null float64
crncy_quote_source    2721 non-null object
dtypes: datetime64[ns, pytz.FixedOffset(540)](1), float64(2), object(16)

In [6]:
book.list_splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 35440 entries, (guid, faf151dc359482b7a8c9a3b877da80ab) to (guid, a1eafed887daa037dddb3cf3b7afbde3)
Data columns (total 31 columns):
memo                      35440 non-null object
reconciled                35440 non-null object
value                     35440 non-null object
value_frac                35440 non-null object
quantity                  35440 non-null object
quantity_frac             35440 non-null object
act_idtype                35440 non-null object
act_id                    35440 non-null object
trn_idtype                35440 non-null object
trn_id                    35440 non-null object
act_path                  35440 non-null object
act_toplevel              35440 non-null object
act_type                  35440 non-null object
act_code                  1435 non-null object
act_description           35329 non-null object
act_cmd_space             35440 non-null object
act_cmd_id                35440 non-null object
act_cmd_name              35440 non-null object
act_cmd_xcode             1142 non-null object
act_cmd_fraction          35440 non-null object
act_cmd_exponent          35440 non-null float64
act_cmd_quote_source      35239 non-null object
trn_date                  35440 non-null datetime64[ns]
trn_description           35440 non-null object
trn_crncy_space           35440 non-null object
trn_crncy_id              35440 non-null object
trn_crncy_name            35440 non-null object
trn_crncy_xcode           0 non-null object
trn_crncy_fraction        35440 non-null object
trn_crncy_exponent        35440 non-null float64
trn_crncy_quote_source    35440 non-null object
dtypes: datetime64[ns](1), float64(2), object(28)

In [7]:
book.list_transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 16314 entries, (guid, 9e4b4e15282c605759a1fa8ac971cfbc) to (guid, 953210221d2a18b8f171047fe348fded)
Data columns (total 9 columns):
date                  16314 non-null datetime64[ns]
description           16314 non-null object
crncy_space           16314 non-null object
crncy_id              16314 non-null object
crncy_name            16314 non-null object
crncy_xcode           0 non-null object
crncy_fraction        16314 non-null object
crncy_exponent        16314 non-null float64
crncy_quote_source    16314 non-null object
dtypes: datetime64[ns](1), float64(1), object(7)

## Other methods

Other methods return raw tables as pandas.DataFrame objects. Most of tables are indexed for convenience of join operations.

In [8]:
book.accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 210 entries, (guid, 64806997695ef7c53fc2e6eef90f6d2b) to (guid, 88891af9e7c7bca8689f70cf09825841)
Data columns (total 7 columns):
path           209 non-null object
toplevel       209 non-null object
type           210 non-null object
code           32 non-null object
description    203 non-null object
cmd_space      210 non-null object
cmd_id         209 non-null object
dtypes: object(7)

In [9]:
book.commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 41 entries, (ISO4217, JPY) to (template, template)
Data columns (total 5 columns):
name            41 non-null object
xcode           29 non-null object
fraction        41 non-null object
exponent        41 non-null float64
quote_source    29 non-null object
dtypes: float64(1), object(4)

In [10]:
book.prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 9 columns):
time           2721 non-null datetime64[ns, pytz.FixedOffset(540)]
cmd_space      2721 non-null object
cmd_id         2721 non-null object
crncy_space    2721 non-null object
crncy_id       2721 non-null object
source         2721 non-null object
type           2721 non-null object
value          2721 non-null object
value_frac     2721 non-null object
dtypes: datetime64[ns, pytz.FixedOffset(540)](1), object(8)

In [11]:
book.splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 35440 entries, (guid, faf151dc359482b7a8c9a3b877da80ab) to (guid, a1eafed887daa037dddb3cf3b7afbde3)
Data columns (total 10 columns):
memo             35440 non-null object
reconciled       35440 non-null object
value            35440 non-null object
value_frac       35440 non-null object
quantity         35440 non-null object
quantity_frac    35440 non-null object
act_idtype       35440 non-null object
act_id           35440 non-null object
trn_idtype       35440 non-null object
trn_id           35440 non-null object
dtypes: object(10)

In [12]:
book.transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 16314 entries, (guid, 9e4b4e15282c605759a1fa8ac971cfbc) to (guid, 953210221d2a18b8f171047fe348fded)
Data columns (total 4 columns):
date           16314 non-null datetime64[ns]
description    16314 non-null object
crncy_space    16314 non-null object
crncy_id       16314 non-null object
dtypes: datetime64[ns](1), object(3)