# gncxml Usage Examples

## Setup

In [1]:
import sys
import gncxml

try:
    book = gncxml.Book("mybook.gnucash")
except OSError as err:
    sys.exit(err)

In [2]:
import pandas as pd
pd.options.display.memory_usage = False

## API Reference

In [3]:
help(gncxml.Book)

Help on class Book in module gncxml.book:

class Book(builtins.object)
 |  Book(gncfile)
 |
 |  Parse GnuCash XML data file and provide interface to read journal entries and master data tables.
 |
 |  Methods defined here:
 |
 |  __init__(self, gncfile)
 |      Parameters
 |      ----------
 |      gncfile : file name or file object (io.BufferedReader)
 |          GnuCash data file (XML format)
 |
 |  accounts(self)
 |      Return account entries as pandas.DataFrame.
 |
 |  commodities(self)
 |      Return commodity (aka currency) entries as pandas.DataFrame.
 |
 |  list_accounts(self)
 |      Return account entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_commodities(self)
 |      Return commodity (aka currency) entries as pandas.DataFrame (synonym for commodities()).
 |
 |  list_prices(self)
 |      Return commodity price entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_splits(self)
 |      Return split (aka line item) entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  list_transactions(self)
 |      Return transaction (aka header) entries as flat pandas.DataFrame after joining relevant tables.
 |
 |  prices(self)
 |      Return commodity price entries as pandas.DataFrame.
 |
 |  splits(self)
 |      Return split (aka line item) entries as pandas.DataFrame.
 |
 |  transactions(self)
 |      Return transaction (aka header) entries as pandas.DataFrame.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Book.list_*()

Book.list_*() methods are the primary one-stop methods that return the entries as flat pandas.DataFrame objects after joining relevant internal tables.

In [4]:
book.list_accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 227 entries, ('guid', '64806997695ef7c53fc2e6eef90f6d2b') to ('guid', '88891af9e7c7bca8689f70cf09825841')
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   path              226 non-null    object
 1   toplevel          226 non-null    object
 2   type              227 non-null    object
 3   code              33 non-null     object
 4   description       220 non-null    object
 5   cmd_space         227 non-null    object
 6   cmd_id            226 non-null    object
 7   cmd_name          226 non-null    object
 8   cmd_xcode         41 non-null     object
 9   cmd_fraction      226 non-null    object
 10  cmd_exponent      226 non-null    float64
 11  cmd_quote_source  215 non-null    object
dtypes: float64(1), object(11)

In [5]:
book.list_commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49 entries, ('CURRENCY', 'JPY') to ('template', 'template')
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          49 non-null     object
 1   xcode         42 non-null     object
 2   fraction      49 non-null     object
 3   exponent      49 non-null     float64
 4   quote_source  37 non-null     object
dtypes: float64(1), object(4)

In [6]:
book.list_prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   time                3454 non-null   datetime64[ns, UTC]
 1   cmd_space           3454 non-null   object
 2   cmd_id              3454 non-null   object
 3   crncy_space         3454 non-null   object
 4   crncy_id            3454 non-null   object
 5   source              3454 non-null   object
 6   type                3454 non-null   object
 7   value               3454 non-null   object
 8   value_frac          3454 non-null   object
 9   cmd_name            3454 non-null   object
 10  cmd_xcode           2987 non-null   object
 11  cmd_fraction        3454 non-null   object
 12  cmd_exponent        3454 non-null   float64
 13  cmd_quote_source    2739 non-null   object
 14  crncy_name          3454 non-null   object
 15  crncy_xcode         0 non-null      object
 16  crncy_fraction      3454 non-null   object
 17  crncy_exponent      3454 non-null   float64
 18  crncy_quote_source  3454 non-null   object
dtypes: datetime64[ns, UTC](1), float64(2), object(16)

In [7]:
book.list_splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 50694 entries, ('guid', 'faf151dc359482b7a8c9a3b877da80ab') to ('guid', '4081bca6b2a5417fbfe3c305d72d041b')
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   action                  1563 non-null   object
 1   memo                    6466 non-null   object
 2   reconciled              50694 non-null  object
 3   value                   50694 non-null  object
 4   value_frac              50694 non-null  object
 5   quantity                50694 non-null  object
 6   quantity_frac           50694 non-null  object
 7   act_idtype              50694 non-null  object
 8   act_id                  50694 non-null  object
 9   trn_idtype              50694 non-null  object
 10  trn_id                  50694 non-null  object
 11  act_path                50694 non-null  object
 12  act_toplevel            50694 non-null  object
 13  act_type                50694 non-null  object
 14  act_code                1606 non-null   object
 15  act_description         47067 non-null  object
 16  act_cmd_space           50694 non-null  object
 17  act_cmd_id              50694 non-null  object
 18  act_cmd_name            50694 non-null  object
 19  act_cmd_xcode           1558 non-null   object
 20  act_cmd_fraction        50694 non-null  object
 21  act_cmd_exponent        50694 non-null  float64
 22  act_cmd_quote_source    50474 non-null  object
 23  trn_date                50694 non-null  datetime64[ns]
 24  trn_num                 10241 non-null  object
 25  trn_description         50694 non-null  object
 26  trn_crncy_space         50694 non-null  object
 27  trn_crncy_id            50694 non-null  object
 28  trn_crncy_name          50694 non-null  object
 29  trn_crncy_xcode         0 non-null      object
 30  trn_crncy_fraction      50694 non-null  object
 31  trn_crncy_exponent      50694 non-null  float64
 32  trn_crncy_quote_source  50694 non-null  object
dtypes: datetime64[ns](1), float64(2), object(30)

In [8]:
book.list_transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 23487 entries, ('guid', '9e4b4e15282c605759a1fa8ac971cfbc') to ('guid', '0de914ebc5194657a2034564c3ee6b2b')
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                23487 non-null  datetime64[ns]
 1   num                 4893 non-null   object
 2   description         23487 non-null  object
 3   crncy_space         23487 non-null  object
 4   crncy_id            23487 non-null  object
 5   crncy_name          23487 non-null  object
 6   crncy_xcode         0 non-null      object
 7   crncy_fraction      23487 non-null  object
 8   crncy_exponent      23487 non-null  float64
 9   crncy_quote_source  23487 non-null  object
dtypes: datetime64[ns](1), float64(1), object(8)

## Other methods

Other methods return raw tables as pandas.DataFrame objects. Most of tables are indexed for convenience of join operations.

In [9]:
book.accounts().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 227 entries, ('guid', '64806997695ef7c53fc2e6eef90f6d2b') to ('guid', '88891af9e7c7bca8689f70cf09825841')
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   path         226 non-null    object
 1   toplevel     226 non-null    object
 2   type         227 non-null    object
 3   code         33 non-null     object
 4   description  220 non-null    object
 5   cmd_space    227 non-null    object
 6   cmd_id       226 non-null    object
dtypes: object(7)

In [10]:
book.commodities().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 49 entries, ('CURRENCY', 'JPY') to ('template', 'template')
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          49 non-null     object
 1   xcode         42 non-null     object
 2   fraction      49 non-null     object
 3   exponent      49 non-null     float64
 4   quote_source  37 non-null     object
dtypes: float64(1), object(4)

In [11]:
book.prices().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         3454 non-null   datetime64[ns, UTC]
 1   cmd_space    3454 non-null   object
 2   cmd_id       3454 non-null   object
 3   crncy_space  3454 non-null   object
 4   crncy_id     3454 non-null   object
 5   source       3454 non-null   object
 6   type         3454 non-null   object
 7   value        3454 non-null   object
 8   value_frac   3454 non-null   object
dtypes: datetime64[ns, UTC](1), object(8)

In [12]:
book.splits().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 50694 entries, ('guid', 'faf151dc359482b7a8c9a3b877da80ab') to ('guid', '4081bca6b2a5417fbfe3c305d72d041b')
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   action         1563 non-null   object
 1   memo           6466 non-null   object
 2   reconciled     50694 non-null  object
 3   value          50694 non-null  object
 4   value_frac     50694 non-null  object
 5   quantity       50694 non-null  object
 6   quantity_frac  50694 non-null  object
 7   act_idtype     50694 non-null  object
 8   act_id         50694 non-null  object
 9   trn_idtype     50694 non-null  object
 10  trn_id         50694 non-null  object
dtypes: object(11)

In [13]:
book.transactions().info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 23487 entries, ('guid', '9e4b4e15282c605759a1fa8ac971cfbc') to ('guid', '0de914ebc5194657a2034564c3ee6b2b')
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         23487 non-null  datetime64[ns]
 1   num          4893 non-null   object
 2   description  23487 non-null  object
 3   crncy_space  23487 non-null  object
 4   crncy_id     23487 non-null  object
dtypes: datetime64[ns](1), object(4)